{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{deps, [
  {lager,   ".*", {git, "https://github.com/erlang-lager/lager.git",{branch, "master"}}},
  {esockd,  ".*", {git, "ssh://git@cf.beidouapp.com:21345/group-deps/esockd.git", {branch,"v2.0.0.0"}}},
  {et_lib,  ".*", {git, "ssh://git@cf.beidouapp.com:21345/group-deps/et_lib.git", {branch,"master"}}}
]}.

{overrides, [
  {override, jsonx, [
    {plugins, [pc]},
    {provider_hooks, [
      {post,
        [
          {compile, {pc, compile}},
          {clean, {pc, clean}}
        ]
      }
    ]}
  ]},
  {override, hamcrest, [{plugins, []}]}
]}.

{relx, [{release, { ntrip_source, "0.1.0" },
         [sasl,
           lager,
           esockd,
           observer,
           runtime_tools,
           et_lib,
           mnesia,
           ntrip_source]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
