[
  {kernel,
    [{start_timer, true},
      {start_pg2, true}
    ]},
  {sasl, [
    {sasl_error_logger, {file, "log/ntrip_source_sasl.log"}}
  ]},
  {mnesia, [
    {dir, "data"}
  ]},
  {ssl, [
    {versions, ['tlsv1.2', 'tlsv1.1']}
  ]},
  {esockd, [
    {logger, {lager, info}}
  ]},
  {lager, [
    {log_root, "log"},
    {killer_hwm, 30000},
    {killer_reinstall_after, 5000},
    {error_logger_redirect, false},
    {crash_log, "ntrip_source_crash.log"},
    {handlers, [
      {lager_console_backend, [{level, debug}]},
      {lager_file_backend, [
        {file, "ntrip_source.log"},
        {level, debug},
        {size, 26214400},
        {date, "$D0"},
        {count, 500}
      ]}
    ]}
  ]},
  { ntrip_source, [
    %%gnss 数据源
    {data_source, [{ip, {218,89,185,234}}, {port, 5055}]},
    {packet, [
      {max_clientid_len, 1024},
      {max_packet_size, 16#ffff}
    ]},
    {client, [
      {idle_timeout, 600} %% seconds
    ]},
    {listen, [
      {tcp, 9099, [
        {backlog, 2048},
        {acceptors, 16},
        {max_clients, 1048576},
        {access, [{allow, all}]},
        {connopts, [{rate_limit, "200, 20"}]}
      ]},
      {tsung, 9098, [
        {backlog, 2048},
        {acceptors, 16},
        {max_clients, 1048576},
        {access, [{allow, all}]},
        {connopts, [{rate_limit, "200, 20"}]}
      ]}
    ]}
  ]}
].
